# =========================================================================
# 1. .NET (C# / Web API)
# =========================================================================
bin/
obj/
appsettings.Development.json
usersecrets.json
*.user
*.userosscache
*.sln.docstates

# =========================================================================
# 2. Angular (Node.js / Frontend)
# =========================================================================
node_modules/
.angular/
dist/
tmp/
out-tsc/
bazel-out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================================================================
# 3. IDE / Редактори коду (VS Code, Rider, Visual Studio)
# =========================================================================
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================================================================
# 4. Операційна система
# =========================================================================
.DS_Store
Thumbs.db
